<%= attachment_image_tag users,:profile_image, size:"100x100",format: 'jpg',fallback:"no_image.jpg"%>
  
  
      <%= image_tag users.get_profile_image(100,100)%>
  
  <div><%= image_tag user.get_profile_image(100,100)%></div>
  
  
  
  
  
         <%= link_to edit_user_path(current_user)%>