<%= attachment_image_tag users,:profile_image, size:"100x100",format: 'jpg',fallback:"no_image.jpg"%>
  
  
      <%= image_tag users.get_profile_image(100,100)%>
  
  <div><%= image_tag user.get_profile_image(100,100)%></div>
  
  
  <!--画像投稿-->
<%= f.attachment_field :profile_image %>

  
  
        