<%= render'list', books:@books, book:@book%>
<div class ="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <% @books.each do |book|%>
   <table class = "table table-striped">
     <thead>
       <tr>
         <th>Title</th>
         <th>Opinion</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><%= @book.title%></td>
         <td><%= @book.opinion%></td>
       </tr>
     </tbody>
   </table>
   <% end %>
</div>